.header{display: flex;
flex-wrap: wrap;
gap: 20px;
align-items: center;
top: 0;
left: 0;
justify-content: flex-start;
width: 100%;
background-color:#1d3557;
color: white;}

nav>ul{display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
gap: 40px;
list-style: none;}
a:link{text-decoration: none;}
a{color: aqua;}
h1{font-family:cursive;}

.desc{background-color:beige;
border-radius: 10px;
padding: 20px;}

.completed{background-color: cadetblue;
  border: 1px solid black;
border-radius: 30px;
padding: 5px;
margin-right: 20px;}

.referrals{background-color: teal;
border:1px solid black;
border-radius: 30px;
padding: 5px;
margin-right: 20px;}

.profits{background-color: rgb(5, 148, 101);
  border:1px solid black;
  border-radius: 30px;
  padding: 5px;
  margin-right: 20px;}

  td{color: whitesmoke; }

  .who{background-color: aliceblue;
  color: black;
font-family: sans-serif;}

image img{width: 24px;
  height: 24px;
  margin-right: 10px;}

table{width:100%;
text-align:center;
margin:20px 0;}

footer {
  text-align: center;
  background-color: #1d3557;
  color: white;
  padding: 15px;
  margin-top: 30px;
}